body {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .nav {
    /*background-color: rgb(133, 130, 123);*/
    height: 150px;
    width: 100%;
    font-size: 30px;
    padding: 0;
    color: rgb(0, 0, 0);
    text-shadow: 4px 2px rgb(255, 255, 255);
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20210115/pngtree-web-banner-blue-background-material-image_519343.jpg");
  }
  

  
  .main {
    width: 100%;
    display: inline-block;
    background-color: azure;
  }
  
  /* CAJA IZQUIERDA */
  .left {
    width: 20%;
    height: 800px;
    background-color: rgb(63, 63, 63);
    float: left;
    text-shadow: 4px 2px black;
  }
  
  .left a{
    color: white;
    text-decoration: none;
  }

  .left_down{
    font-size: small;
    color: white;
    width: 100%;
    height: auto;
    float: left;
    text-shadow: 4px 2px black;
  }

  .left h1:hover {
    font-size: 40px;
    text-shadow: 4px 2px rgb(55, 4, 194);
  
  }
/* FIN CAJA IZQUIERDA */

/*Inicio de logos*/
.logo {
  width: 80px;
  float: left;
  margin: -60px 0 0 30px;
}

  .logohome {
    width: 65px;
    float: left;
    margin: -60px 0 0 30px;
  }

  .logoexperiencia{
    width: 65px;
    float: left;
    margin: -60px 0 0 30px;
  }

  .logocontacto {
    width: 65px;
    float: left;
    margin: -60px 0 0 30px;
  }
  /* fin de logos*/

 
  /* CAJA DERECHA */
  .right {
    width: 80%;
    height: 800px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    float: right;
    text-shadow: 4px 2px rgb(255, 255, 255);
  }

  .right h2{
    font-size: larger;
    color: rgba(175, 15, 15, 0.747);
    width: 100%;
    height: auto;
    float: left;
  }
  p.center {text-align: center;
    font-weight: bold;}
    
    p.justify {text-align: justify;}


  /* FIN CAJA DERECHA */

  h1 {
    padding: 0;
    margin: 0;
    padding-top: 30px;
  }
  


  .formulario {
    border-radius: 10px;
    background-color: #ffffffd3;
    box-shadow: 0 0 10px 10px #2c2c2c70;
    border: 2px solid black;
    height: 450;
    margin: 10px auto;
    text-align: center;
    width: 300px;
  }
  
  .boton {
    margin: 20px;
    background-color: rgb(218, 26, 26);
    color: white;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
  }
  
  input, textarea {
    margin-top: 30px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
  }

  /* EXPERIENCIA */
